.faq-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #3BBED1;
  color: white;
  margin-top: -40px;
  /* padding-top: 20px; */
  padding-bottom: 150px;
  text-align: center;
}

h2 {
  margin-bottom: 30px;
}

.faq-items {
  width: 80%;
}

.faq-item {
  display: flex;
  flex-direction: column; /* Change to column layout */
  align-items: flex-start; /* Align items to the left */
  font-family: 'agrandir wide light', sans-serif;
  margin-bottom: 10px;
  padding: 15px;
  background-color: #007785;
  color: #fff;
  border-radius: 5px;
  font-weight: bold;
}

.faq-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  cursor: pointer;
}

.faq-chevron img {
  width: 20px;
  height: 20px;
  margin-left: 10px;
}

.faq-item.active .faq-answer {
  display: block;
}

.faq-question {
    font-size: 25px;
}

.faq-answer {
    display: none;
    padding-top: 15px;
    background-color: #007785;
    border-radius: 5px;
    text-align: left;
    overflow: hidden;

}

.get-started{
    font-size: 20px;
        padding: 10px 20px;
        margin-top: 40px;
        border-radius: 18px;
        font-size: 30px;
        font-family: 'agrandir wide light', sans-serif;
        font-weight: bolder;
        background-color: #fff;
        color: #007785;
        border: none;
        cursor: pointer;
        transition: background-color 0.3s, color 0.3s;

            transform: translateX(-50%);
                animation: bounce 1.5s infinite;
            }
            
            @keyframes bounce {
            
                0%,
                100% {
                    transform: translateY(0);
                }
            
                50% {
                    transform: translateY(-4px);
            
                }
}

.rotate-up {
    transform: rotate(180deg);
}

.get-started:hover {
    background-color: #fff;
    color: #007785;
}
