.scroll-to-section {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    color: #3BBED1;
    cursor: pointer;
}

.scroll-to-section:hover {
    background-color: #3BBED1;
    color: #fff;
    transition: background-color 0.3s, color 0.3s;
    
}


.scroll-to-section span {
    font-family: 'agrandir wide light', sans-serif;
    font-size: 20px;
    font-weight: bolder;
}

.down-image img {
    height: 20px;
    padding: 10px;
    fill: #3BBED1;
}