.footer {
    font-family: 'agrandir wide light', sans-serif;
    background-color: #3BBED1;
    font-weight: bolder;
    font-size: 15px;
    color: white;
    text-align: left;
    padding: 10px 20px;
}