.top-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3BBED1;
    color: white;
    padding-top: 10px;
    padding-bottom: 50px;
}

.text {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

h1 {
    font-family: 'agrandir wide light', sans-serif;
    font-size: 54px;
    margin-left: 10px;
    margin-bottom: 20px;
}

h5 {
    font-family: 'agrandir wide light', sans-serif;
    font-size: 20px;
}

.image img {
        height: 400px;
}